button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	margin: 2px;
	background-color: inherit;
}

.syncData {
	max-height: 30vh;
	overflow: hidden;
	margin: 0;
	scrollbar-width: none;
	overflow-anchor: auto;
	list-style-type: none;
	padding-left: 4px;
	margin-bottom: 8px;
}

.syncData li {
	margin-bottom: 4px;
}

.menu {
	border: none;
}

.sidebarLeftWrapper {
	width: 15%;
	min-width: 250px;
	height: 100vh;
	top: 0;
	left: 0;
	transition: left 0.4s;
	padding-top: 0;
	position: fixed;
}

.sidebarLeft {
	background-color: white;
	overflow-wrap: anywhere;
}

.errored, .loading {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.errored h1, .loading h1 {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 0;
}

.errored code {
	font-size: 1rem;
}

.errored h1 {
	color: #ff6565;
}

.loading h1 {
	color: #6565ff;
}

.setting {
	margin: 1%;
	width: 100%;
}

.setting input {
	margin-left: 5px;
}