.sidebarWrapper {
	height: 100vh;
	min-width: 300px;
	top: 0;
	left: 0;
	padding-top: 0;
	position: fixed;
}

.sidebar {
	overflow-wrap: anywhere;
	paddingTop: 0;
	marginBottom: 8;
}

.menuIcon {
	border: none;
	background-color: #00000000;
}
